<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="content-wrapper-before"></div>
	<div class="container-full">

		<!-- Main content -->
		<section class="content">
		 

			<div class="row fx-element-overlay">
				<div class="col-12 col-lg-6 col-xl-4">
					<div class="box box-default">
						<div class="fx-card-item">
							<div class="fx-card-avatar fx-overlay-1">
								<img src="~/images/product/uk-flag-london-1024x683.jpg" alt="user">
								<div class="fx-overlay scrl-up">
									<ul class="fx-info">
										<li><a class="btn btn-outline image-popup-vertical-fit" href="~/images/product/uk-flag-london-1024x683.jpg"><i class="mdi mdi-magnify"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-delete"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-settings"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="fx-card-content text-left mb-0">
								<div class="product-text">
									<h2 class="pro-price text-blue">9</h2>
									<h4 class="box-title mb-0">  UK</h4>
									<small class="text-muted db">New University & Program</small>

 								</div>
							</div>
						</div>
					</div>
					<!-- /.box -->
				</div>
				<div class="col-12 col-lg-6 col-xl-4">
					<div class="box box-default">
						<div class="fx-card-item">
							<div class="fx-card-avatar fx-overlay-1">
								<img src="~/images/product/germany-flag-std__88891.jpg" alt="user">
								<div class="fx-overlay scrl-up">
									<ul class="fx-info">
										<li><a class="btn btn-outline image-popup-vertical-fit" href="~/images/product/germany-flag-std__88891.jpg"><i class="mdi mdi-magnify"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-delete"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-settings"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="fx-card-content text-left mb-0">
								<div class="product-text">
									<h2 class="pro-price text-blue">3</h2>

 									<h4 class="box-title mb-0">  Germany</h4>
									<small class="text-muted db">New University & Program</small>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box -->
				</div>
				<div class="col-12 col-lg-6 col-xl-4">
					<div class="box box-default">
						<div class="fx-card-item">
							<div class="fx-card-avatar fx-overlay-1">
								<img src="~/images/product/Australian-flag.jpg" alt="user">
								<div class="fx-overlay scrl-up">
									<ul class="fx-info">
										<li><a class="btn btn-outline image-popup-vertical-fit" href="~/images/product/Australian-flag.jpg"><i class="mdi mdi-magnify"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-delete"></i></a></li>
										<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-settings"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="fx-card-content text-left mb-0">
								<div class="product-text">
									<h2 class="pro-price text-blue">7</h2>
									<h4 class="box-title mb-0">  Australia</h4>
									<small class="text-muted db">New University & Program</small>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box -->
				</div>
				 
				 

			</div>

		</section>
		<!-- /.content -->
	</div>
</div>
<!-- /.content-wrapper -->