<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="container-full">


        <!-- Main content -->
        <section class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="w-p100 d-md-flex align-items-center justify-content-between">
                        <h3 class="page-title">   </h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">  Team Membrs,  Activity Logs</h3>

                            <div class="float-start">
                               
                            </div>
                        </div>


                       
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <label for="userSelect" class="form-label">Select Team Member:</label>
                                <select id="userSelect" name="Id" class="form-control " asp-items="@ViewBag.UserList">
                                    <option value="" selected>--  Select Team Member  --</option>
                                </select>
                                <table id="activityTable" class="mt-3 display expandable-table" style="width:100%">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th style="background-color: #4e0973;color:white;">Lead Name</th>
                                            <th style="background-color: #4e0973;color:white;">Lead Phone Number</th>
                                            <th style="background-color: #4e0973;color:white;">Lead Email</th>
                                            <th style="background-color: #4e0973;color:white;">Team Member</th>
                                            <th style="background-color: #4e0973;color:white;">Status</th>
                                            <th style="background-color: #4e0973;color:white;">Action</th>
                                            <th style="background-color: #4e0973;color:white;">Activity Log Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Table body will be populated by DataTables -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>



@* <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">
                            Activity Log
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="userSelect" class="form-label">Select Team Member:</label>
                                        <select id="userSelect" name="Id" class="form-control" asp-items="@ViewBag.UserList">
                                            <option value=""   selected>--  Select Team Member  --</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="table-responsive">
                                    <table id="activityTable" class="display expandable-table" style="width:100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Lead Name</th>
                                                <th>Lead Phone Number</th>
                                                <th>Lead Email</th>
                                                <th>Team Member</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                                <th>Activity Log Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Table body will be populated by DataTables -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#activityTable').DataTable({
               
                "ajax": {
                    "url": "/Admin/ActivityLog/GetUserActivity",
                    "type": "GET",
                    "dataType": "json",
                    "data": function (d) {
                        return {
                            userid: $('#userSelect').val()
                        };
                    },
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "leadName" },
                    { "data": "leadPhoneNumber" },
                    { "data": "leadEmail" },
                    { "data": "userName" },
                    {
                        "data": "status",
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            // Check if the followUpStatus is "Converted Lead" and apply the badge
                            if (data === "Converted Lead") {
                                return '<span class="badge badge-pill bg-success">Converted Lead</span>';
                            } else if (data === "Dead Lead") {
                                return '<span class="badge badge-pill bg-danger">Dead Lead</span>';
                            } else if (data === "New Lead") {
                                return '<span class="badge badge-pill bg-dark"> Add New Lead</span>';
                            } else if (data === "Student Details Submission") {
                                return '<span class="badge badge-pill bg-secondary">  Student Details Submission</span>';
                            } else if (data === "Hot Lead") {
                                return '<span class="badge badge-pill bg-primary">Hot Lead    </span>';
                            } else if (data === "Make Deposit") {
                                return '<span class="badge badge-pill bg-info">  Make Deposit</span>';
                            } else if (data === "Warm Lead") {
                                return '<span class="badge badge-pill bg-info">    Warm Lead</span>';
                            }
                            else if (data === "Future Lead") {
                                return '<span class="badge badge-pill bg-secondary"> Future Lead</span>';
                            }

                            else {
                                return '<span class="badge badge-pill bg-warning">  Visa Application</span>';
                            }
                        }
                    },


                    { "data": "action" },
                    {
                        "data": "activityLogDate",
                        "render": function (data) {
                            return new Date(data).toLocaleString();
                        }
                    }
                ]
            });

            $('#userSelect').change(function () {
                table.ajax.url("/Admin/ActivityLog/GetUserActivity?userid=" + $('#userSelect').val()).load();
            });

            $('.dataTables_length').hide();
        });
    </script>

}
